[submodule "IITMOD/Public"]
	path = IITMOD/Public
	url = https://github.com/iitmod/iitmod.github.io
[submodule "IITMOD/Themes/hugo-html5up-alpha"]
        path= IITMOD/Themes/hugo-html5up-alpha
	url= IITMOD/Themes/hugo-html5up-alpha
